<mat-toolbar color="primary">
        <mat-toolbar-row>
        
          <h1>Risk Management System </h1> &nbsp; &nbsp;
          <button mat-icon-button routerLink="/"><img  src="./../../assets/lender-borrower-logo.png" width="100%" height="100%"></button>
         
          <span class="menu-spacer"></span>
          <div>
          <button mat-button routerLink="/login">Login</button>
          <button mat-button routerLink="/register-selection">Sign Up</button>
        </div>

        </mat-toolbar-row>
      </mat-toolbar>