<app-app-header></app-app-header>

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6">
                
                      
                    
            <mat-card>
                <button mat-mini-fab color="primary" routerLink="/login">
                    <mat-icon>
                        keyboard_backspace
                    </mat-icon>
                </button>
             
                <div class="text-center">

                    <h4> Getting Started </h4>
                    <br>
                    <img src="./../../assets/lender-borrower-home.png" width="70%" height="70%">
                    <hr>
                    <button mat-raised-button routerLink="/lender-registration" color="primary"> Register as :  LENDER
                    </button>

                    <br> <br>
                    <h5><span>OR</span></h5>

                    <br>
                   <button mat-raised-button routerLink="/borrower-registration" color="primary"> Register as : 
                        BORROWER</button>
                </div>
                <hr>
                <div class="text-center">
                  
                    <a routerLink="/login"> Already a Member ? </a>
                </div>
            </mat-card>

        </div>
        <div class="col-sm-3">
            
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

<app-app-footer></app-app-footer>