<app-app-header></app-app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <br>
            <mat-card>
                  <div class="text-center"><strong>Setup your New Password </strong> </div>
                <br>
                <div>
                        Email : <strong>{{emailId}} </strong>
                        </div>
                        <br>
            <form  (ngSubmit)="onSubmit($event)" #userForm="ngForm">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <label for="userPassword">New Password</label>
                        <input matInput required minlength="8" maxlength="20"
                            pattern="^(?=[a-zA-Z0-9#@$?]{8,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9]).*" ngModel
                            name="userPassword" type="password" #userPassword="ngModel">
                        <mat-error *ngIf="!userPassword.valid && userPassword.errors.minlength ">At least 8 characters
                            are required !</mat-error>
                        <mat-error *ngIf="!userPassword.valid && userPassword.errors.required "> Password is required.
                        </mat-error>
                        <mat-error *ngIf="!userPassword.valid && userPassword.errors.pattern">
                            Password must contain 1 special character, 1 uppercase letter, 1 lowercase letter and 1
                            numeric value.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <label for="cuserPassword">Confirm New Password</label>
                        <input matInput required minlength="8" maxlength="20" ngModel name="cuserPassword"
                            type="password" #cuserPassword="ngModel">
                        <mat-error *ngIf="cuserPassword.dirty && cuserPassword.value !== userPassword.value">Password
                            didn't match !</mat-error>
                        <mat-error *ngIf="!cuserPassword.valid && cuserPassword.errors.minlength ">At least 8 characters
                            are required !</mat-error>
                        <mat-hint *ngIf="cuserPassword.dirty && cuserPassword.value === userPassword.value  && (!notAppliedForForgotPassword)">Password
                            matched !</mat-hint>
                            <mat-hint *ngIf="notAppliedForForgotPassword"  [ngStyle]="{color: hintColor}" >
                                    You have not applied for Forgot Password.<a routerLink="/forgotpassword" > Go Back </a> generate it again.
                                    
                            </mat-hint>
                    </mat-form-field>
                </div>
                <div class="text-center">
                        <button mat-raised-button color="primary" [disabled]="cuserPassword.value !== userPassword.value ||userForm.form.invalid" > Submit  </button>
                    
                    </div>


            </form>





        </mat-card>


        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


<app-app-footer></app-app-footer>