
<app-app-header></app-app-header>
<br><br>
<div class="container" style="text-align: center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                    <div  style="text-align: center">
                            <h4>CONTACT US
                           </h4>
                           </div>
                           <br>
                           <div style="text-align:unset" >
                                <mat-card>
                                         Risk Management System<br><br>

                                        Impetus IT Park SEZ, Survey no. 291, <br>
                                        Badiya Keema, Bicholi Mardana,<br>
                                        Vidyasagar School-Ambamoliya Road,<br>
                                        Indore - 452016 (M.P.)
                                        India<br>
                                        
                                        Mail: mailer.rms.2019@gmail.com,
                                        <br>
                                                 </mat-card>
                
                                                </div>
                </div>
        <div class="col-sm-1"></div>
    </div>

</div>

<app-app-footer></app-app-footer>