<app-app-header></app-app-header>

<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <mat-card class="example-card">
        <!-- <div class ="text-center">
                
                <button  mat-raised-button color="primary"  routerLink ="/lender-registration"> LENDER </button>
                &nbsp; &nbsp;
                <button mat-raised-button color="success" disabled routerLink ="/borrower-registration"> BORROWER</button>
                </div> -->
        <button mat-mini-fab color="primary" routerLink="/register-selection">
          <mat-icon>
            keyboard_backspace
          </mat-icon>
        </button>
        <br>
        <div class="text-center">
          <h4 style="color:#3f51b5"><strong>Borrower Registration </strong> </h4>
        </div>
        <form id="borrower-form" (ngSubmit)="onSubmit()" #userForm="ngForm">

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label for="userName">Username </label>
              <input matInput required ngModel name="userName" type="text" #userName="ngModel"
                [(ngModel)]="borrower.userName">
              <mat-error *ngIf="!userName.valid && userName.errors.required">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label for="userEmail">Email </label>
              <input matInput required minlength="5" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel
                name="userEmail" type="text" #userEmail="ngModel" [(ngModel)]="borrower.userEmail">
              <mat-error *ngIf="!userEmail.valid && userEmail.errors.pattern">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="!userEmail.valid && userEmail.errors.required">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label for="userPassword">Password</label>
              <input matInput required minlength="8" maxlength="20"
                pattern="^(?=[a-zA-Z0-9!#$%&'()*+,-./:;?@[\]^_`{|}~]{8,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[!#$%&'()*+,-./:;?@[\]^_`{|}~]).*"
                ngModel name="userPassword" type="password" #userPassword="ngModel" [(ngModel)]="borrower.userPassword">
              <mat-error *ngIf="!userPassword.valid && userPassword.errors.minlength ">At least 8 characters are
                required !</mat-error>
              <mat-error *ngIf="!userPassword.valid && userPassword.errors.required "> Password is required.</mat-error>
              <mat-error *ngIf="!userPassword.valid && userPassword.errors.pattern">
                Password must contain 1 special character, 1 uppercase letter, 1 lowercase letter and 1 numeric value.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label for="cuserPassword">Confirm Password</label>
              <input matInput required minlength="8" maxlength="20" ngModel name="cuserPassword" type="password"
                #cuserPassword="ngModel">
              <mat-error *ngIf="cuserPassword.dirty && cuserPassword.value !== userPassword.value">Password didn't match
                !</mat-error>
              <mat-error *ngIf="!cuserPassword.valid && cuserPassword.errors.minlength ">At least 8 characters are
                required !</mat-error>
              <mat-hint *ngIf="cuserPassword.dirty && cuserPassword.value === userPassword.value ">Password matched !
              </mat-hint>
            </mat-form-field>
          </div>



          <div class="text-center">
            <a routerLink="/login"> Already Registered ? </a>
          </div>
          <br>
          <div class="text-center">
            <button mat-raised-button color="primary"
              [disabled]="cuserPassword.value !== userPassword.value ||userForm.form.invalid"> REGISTER </button>

          </div>
          <br>

        </form>
      </mat-card>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<br>
<br>
<br>
<app-app-footer></app-app-footer>