<app-app-header></app-app-header>
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-3"  style="text-align: center" >
      <br> <br>
      <mat-card>
        Lender can set the default policy.
      </mat-card>
      <br>
      <mat-card>
          <img src="./../../assets/lender-borrower-logo.png" width="50%" height="50%">
        </mat-card>
      <br>
      <mat-card>
        Lender can add Financial Analyst.
      </mat-card>
    </div>
    <div class="col-sm-6" style="text-align: center">
      <mat-card>

        <img src="./../../assets/lender-borrower-home.png" width="100%" height="100%">
      </mat-card>
      <br>
      
      <br>
      <mat-card>
       
        <br>
        <img src="./../../assets/lender-borrower-home2.png" width="100%" height="100%">
        <br>
        <br>
      </mat-card>
    </div>
    <div class="col-sm-3"  style="text-align: center">
      <br> <br> 
      <mat-card>
        Borrower can check the credit score.
      </mat-card>
      <br>
      <mat-card>
          <img src="./../../assets/lender-borrower-logo.png" width="50%" height="50%">
        </mat-card>
        <br> 
      <mat-card>
        Borrower can apply for multiple Lenders.
      </mat-card>
      <br>
    </div>
  </div>
</div>
<br>
<br>
<br><br>
<br>
<br>
<app-app-footer></app-app-footer>