table{width: 100%}


.menu-spacer {
    flex: 1 1 auto;
  }

.mat-activeButton{
  background-color: green;
  color: white;
}

.make-red{
  background-color :rgb(255, 190, 190);
}
.customWidthClass{

  flex: 0 0 275px;
  
  }