<app-app-header></app-app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <br>
            <br>
            <mat-card>
                <div class="text-center">
                    <button mat-icon-button routerLink="/Login"><img src="./../../assets/lender-borrower-logo.png"
                            width="100%" height="100%"></button>
                    <br>
                    <strong>Reset your password</strong>
                    <br>


                </div>
                <br>
                <br>
                <br>


                <form #forgotPasswordForm="ngForm"  (submit)="sendOTP($event)"> 
                    <label for="userEmail"><strong>Enter your email address and we will send you a OTP to reset your password </strong></label><br>
                    <mat-form-field class="example-full-width">
                   
                    <input matInput required minlength="5" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel name="userEmail" placeholder="Email" type="text" #userEmail ="ngModel">
                    <mat-error *ngIf="!userEmail.valid && userEmail.errors.pattern">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="!userEmail.valid && userEmail.errors.required">
                            Email is <strong>required</strong>
                          </mat-error>
                          <mat-hint *ngIf="emailNotRegistered"  [ngStyle]="{color: hintColor}" >
                                    This Email is not registered yet. or The email has been blocked.
                          </mat-hint>
                </mat-form-field>
                <br>
                <br>
                <br>
                <div class="text-center">
                        <button mat-raised-button color="primary" [disabled]="forgotPasswordForm.form.invalid" > Send OTP </button>
                      </div>
                </form>

            </mat-card>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<app-app-footer></app-app-footer>